<app-header titulo="Joel Bajaña"></app-header>
<ion-content>

  <ion-input type="text" value="Input Forms"></ion-input>
  <ion-item>
    <ion-label>Nombre:</ion-label>
    <ion-input value="Joel Bajaña"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Formulario valido:</ion-label>
    <ion-input value="false"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Email:</ion-label>
    <ion-input type="email" placeholder="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Password:</ion-label>
    <ion-input type="password" placeholder="contraseña"></ion-input>
  </ion-item>
  <ion-button expand="block">Login</ion-button>

</ion-content>